.comment-list {
  @extend .list-unstyled;

  img.avatar {
    border-radius: 50px;
  }

  .comment {
    background-color: $white;
    padding: 15px;
    margin-bottom: 16px;
  }
}

.comment-list ol {
  list-style: none;
}

.comment-form p {
  @extend .form-group;
}

.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form input[type="url"],
.comment-form textarea {
  @extend .form-control;
}

.comment-form input[type="submit"] {
  @extend .btn;
  @extend .btn-secondary;
}

#comments {
  padding: 15px;
  background-color: $light;
}

.comment-reply-link {
  @extend .btn;
  @extend .btn-primary;
}

.comment-edit-link {
  @extend .text-warning;
}
